.post-child,
.post-item {
  position: absolute;
  border-radius: 10px;
}
.post-child {
  top: 312px;
  left: 433px;
  background-color: #fdfcfc;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 573px;
  height: 594px;
}
.post-item {
  top: 65px;
  left: 1047px;
  background-color: #d9d9d9;
  width: 168px;
  height: 53px;
}
.civic-seek {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  height: 165px;
}
.post-inner {
  position: absolute;
  top: 65px;
  left: 650px;
  background-color: #d9d9d9;
  width: 315px;
  height: 53px;
}
.search-icon {
  position: absolute;
  top: 79px;
  left: 662px;
  width: 24px;
  height: 24px;
}
.div,
.menu-icon {
  position: absolute;
  top: 73px;
}
.div {
  left: 650px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 36px;
}
.menu-icon {
  left: 1363px;
  width: 36px;
  height: 37px;
}
.add-ring-icon,
.div1 {
  position: absolute;
  top: 76px;
  left: 1060px;
  width: 30px;
  height: 28px;
}
.div1 {
  top: 78px;
  left: 1090px;
  font-family: Inter;
  display: inline-block;
  width: 113px;
  height: 31px;
}
.user-cicrle-light-icon {
  position: absolute;
  top: 72px;
  left: 1290px;
  width: 42px;
  height: 39px;
  cursor: pointer;
}
.line-div {
  top: 164.5px;
  left: 15.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.div4,
.div5,
.line-div {
  position: absolute;
}
.div4 {
  top: 208px;
  left: 435px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 76px;
}
.div5 {
  top: 361px;
  left: 485px;
  font-family: Inter;
}
.post-child2 {
  position: absolute;
  top: 396px;
  left: 492px;
  background-color: #d9d9d9;
  width: 455px;
  height: 45px;
}
.div6 {
  position: absolute;
  top: 469px;
  left: 419px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 213px;
  height: 43px;
}
.post-child3 {
  position: absolute;
  top: 521px;
  left: 490px;
  background-color: #d9d9d9;
  width: 457px;
  height: 277px;
}
.div7 {
  top: 808px;
  left: 782px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 34px;
}
.b,
.div7,
.post-child4 {
  position: absolute;
}
.post-child4 {
  top: 842px;
  left: 659px;
  border-radius: 5px;
  background-color: #a4ceff;
  width: 123px;
  height: 41px;
}
.b {
  top: 846px;
  left: 690px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 32px;
  cursor: pointer;
}
.mdoutlinesend-icon,
.post-child5 {
  position: absolute;
  top: 852px;
  left: 674px;
  width: 17px;
  height: 21px;
}
.post-child5 {
  top: 223px;
  left: 825px;
  background-color: #d9d9d9;
  width: 148px;
  height: 61px;
  cursor: pointer;
}
.arrowuupleft-icon {
  position: absolute;
  top: 236px;
  left: 847px;
  width: 32px;
  height: 32px;
}
.div8 {
  position: absolute;
  top: 241px;
  left: 907px;
  font-family: Inter;
}
.post {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: Ubuntu;
}
